Source: {{ =package }}
Section: otherosfs
Priority: optional
Maintainer: Michael Müller <michael@fds-team.de>
XSBC-Original-Maintainer: Scott Ritchie <scottritchie@ubuntu.com>
Build-Depends: autotools-dev,
               autoconf,
               bison,
               bsdmainutils,
               debhelper (>= 7),
               docbook-to-man,
               docbook-utils,
               docbook-xsl,
               flex,
               fontforge,
               gawk,
               gcc-4.5 | gcc-4.7 | gcc-4.9 | ubuntu-desktop (<< 1.207),
               gettext,
               libacl1-dev,
               libasound2-dev,
               libcapi20-dev,
               libcups2-dev,
               libdbus-1-dev,
               libesd0 | libesd-alsa0,
               libesd0-dev,
               libfontconfig1-dev | libfontconfig-dev,
               libfreetype6-dev,
               libgl1-mesa-dev | nvidia-glx-dev | fglrx-driver-dev | libgl-dev,
               libglu1-mesa-dev | libglu-dev,
{{ ="               libgnutls28-dev,\n"                  if debian_version >= 8 else "" }}
{{ ="               libgnutls-dev,\n"                    if debian_version < 8 else "" }}
               libgphoto2-dev | libgphoto2-6-dev | libgphoto2-2-dev (>= 2.4.6),
               libgsm1-dev,
{{ ="               libgstreamer1.0-dev,\n"              if ubuntu_version or debian_version >= 8 else "" }}
{{ ="               libgstreamer-plugins-base1.0-dev,\n" if ubuntu_version or debian_version >= 8 else "" }}
               libgtk-3-dev,
               libice-dev,
               libjpeg-dev,
               liblcms2-dev | ubuntu-desktop (<< 1.267),
               libldap2-dev, libldap-dev,
               libmpg123-dev,
               libncurses5-dev | libncurses-dev,
               libopenal-dev (>= 1:1.12) | ubuntu-desktop (<< 1.207),
               libosmesa6-dev,
               libpcap-dev,
               libpng12-dev,
               libpulse-dev,
               libsane-dev,
               libssl-dev,
               libstdc++6-4.5-dev | libstdc++-dev,
               libtiff5-dev | libtiff4-dev | libtiff-dev,
{{ ="               libtxc-dxtn-s2tc-dev,\n"             if staging else "" }}
               libv4l-dev,
{{ ="               libva-dev,\n"                        if staging else "" }}
               libx11-dev,
               libxcomposite-dev,
               libxcursor-dev,
               libxext-dev,
               libxi-dev,
               libxinerama-dev,
               libxml2-dev,
               libxrandr-dev,
               libxrender-dev,
               libxslt1-dev,
               libxt-dev,
               libxxf86vm-dev,
               linux-kernel-headers,
               linux-libc-dev,
               patch,
               perl,
               prelink,
               sharutils,
               unixodbc-dev,
               x11proto-xinerama-dev
Standards-Version: 3.9.5

Package: {{ =package }}-i386
Architecture: i386
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.14.12ubuntu3), ${misc:Pre-Depends}
Depends:    ${shlibs:Depends},
            libasound2-plugins,
            libncurses5
Recommends: libcapi20-3,
            libcups2,
            libdbus-1-3,
            libfontconfig1 | libfontconfig,
            libfreetype6,
{{ ="            libgnutls-deb0-28,\n"                if debian_version >= 8 else "" }}
{{ ="            libgnutls26,\n"                      if debian_version < 8 else "" }}
{{ ="            libgtk-3-0,\n"                       if staging else "" }}
{{ ="            libjpeg62-turbo,\n"                  if debian_version >= 8 else "" }}
{{ ="            libjpeg8,\n"                         if debian_version < 8 else "" }}
            libosmesa6,
            libpcap0.8,
            libpng12-0,
            libpulse0,
{{ ="            libsane,\n"                          if debian_version < 9 else "" }}
            libssl1.0.0,
            libtiff5 | libtiff4,
{{ ="            libtxc-dxtn-s2tc0,\n"                if staging else "" }}
            libv4l-0,
{{ ="            libva-drm1,\n"                       if staging else "" }}
{{ ="            libva-x11-1,\n"                      if staging else "" }}
            libxcomposite1,
            libxcursor1,
            libxi6,
            libxinerama1,
            libxrandr2,
            libxrender1,
            libxslt1.1,
            libxt6,
            libxxf86vm1,
            libodbc1,
            libgsm1
Section: otherosfs
Priority: optional
Description: official WineHQ build of the popular Wine software
 Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package provides support for loading 32-bit x86 Windows applications.

Package: {{ =package }}-amd64
Architecture: amd64
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.14.12ubuntu3), ${misc:Pre-Depends}
Depends:    ${shlibs:Depends},
            libasound2-plugins,
            libncurses5
Recommends: libcapi20-3,
            libcups2,
            libdbus-1-3,
            libfontconfig1 | libfontconfig,
            libfreetype6,
{{ ="            libgnutls-deb0-28,\n"                if debian_version >= 8 else "" }}
{{ ="            libgnutls26,\n"                      if debian_version < 8 else "" }}
{{ ="            libgtk-3-0,\n"                       if staging else "" }}
{{ ="            libjpeg62-turbo,\n"                  if debian_version >= 8 else "" }}
{{ ="            libjpeg8,\n"                         if debian_version < 8 else "" }}
            libosmesa6,
            libpcap0.8,
            libpng12-0,
            libpulse0,
{{ ="            libsane,\n"                          if debian_version < 9 else "" }}
            libssl1.0.0,
            libtiff5 | libtiff4,
{{ ="            libtxc-dxtn-s2tc0,\n"                if staging else "" }}
            libv4l-0,
{{ ="            libva-drm1,\n"                       if staging else "" }}
{{ ="            libva-x11-1,\n"                      if staging else "" }}
            libxcomposite1,
            libxcursor1,
            libxi6,
            libxinerama1,
            libxrandr2,
            libxrender1,
            libxslt1.1,
            libxt6,
            libxxf86vm1,
            libodbc1,
            libgsm1
Section: otherosfs
Priority: optional
Description: official WineHQ build of the popular Wine software
 Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package provides support for loading 64-bit x86 Windows applications.

Package: {{ =package }}-arm
Architecture: armhf
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.14.12ubuntu3), ${misc:Pre-Depends}
Depends:    ${shlibs:Depends},
            libasound2-plugins,
            libncurses5
Recommends: libcapi20-3,
            libcups2,
            libdbus-1-3,
            libfontconfig1 | libfontconfig,
            libfreetype6,
{{ ="            libgnutls-deb0-28,\n"                if debian_version >= 8 else "" }}
{{ ="            libgnutls26,\n"                      if debian_version < 8 else "" }}
{{ ="            libgtk-3-0,\n"                       if staging else "" }}
{{ ="            libjpeg62-turbo,\n"                  if debian_version >= 8 else "" }}
{{ ="            libjpeg8,\n"                         if debian_version < 8 else "" }}
            libosmesa6,
            libpcap0.8,
            libpng12-0,
            libpulse0,
{{ ="            libsane,\n"                          if debian_version < 9 else "" }}
            libssl1.0.0,
            libtiff5 | libtiff4,
{{ ="            libtxc-dxtn-s2tc0,\n"                if staging else "" }}
            libv4l-0,
{{ ="            libva-drm1,\n"                       if staging else "" }}
{{ ="            libva-x11-1,\n"                      if staging else "" }}
            libxcomposite1,
            libxcursor1,
            libxi6,
            libxinerama1,
            libxrandr2,
            libxrender1,
            libxslt1.1,
            libxt6,
            libxxf86vm1,
            libodbc1,
            libgsm1
Section: otherosfs
Priority: optional
Description: official WineHQ build of the popular Wine software
 Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package provides support for loading 32-bit ARM Windows applications.

Package: {{ =package }}
Architecture: i386 amd64 armhf
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.14.12ubuntu3), ${misc:Pre-Depends}
Depends:    ${misc:Depends}, ${shlibs:Depends},
            {{ =package }}-i386  (= ${binary:Version}) [i386 amd64],
            {{ =package }}-amd64 (= ${binary:Version}) [amd64],
            {{ =package }}-arm   (= ${binary:Version}) [armhf],
Section: otherosfs
Priority: optional
Description: official WineHQ build of the popular Wine software
 Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package includes a program loader for running unmodified Windows
 executables as well as the Wine project's free version of the Windows API
 for running programs ported from Windows.

Package: {{ =package }}-dev
Architecture: i386 amd64 armhf
Pre-Depends: dpkg (>= 1.14.12ubuntu3), ${misc:Pre-Depends}
Depends:    libc6-dev,
            ${shlibs:Depends},
            {{ =package }}-i386  (= ${binary:Version}) [i386 amd64],
            {{ =package }}-amd64 (= ${binary:Version}) [amd64],
            {{ =package }}-arm   (= ${binary:Version}) [armhf],
Section: libdevel
Priority: optional
Description: official WineHQ build of the popular Wine software
 Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package consists of the development files needed to compile programs
 using wine's free version of the Microsoft Windows API.

Package: {{ =package }}-dbg
Architecture: i386 amd64 armhf
Multi-Arch: same
Pre-Depends: dpkg (>= 1.14.12ubuntu3), ${misc:Pre-Depends}
Depends:    ${shlibs:Depends},
            {{ =package }}-i386  (= ${binary:Version}) [i386 amd64],
            {{ =package }}-amd64 (= ${binary:Version}) [amd64],
            {{ =package }}-arm   (= ${binary:Version}) [armhf],
Section: debug
Priority: optional
Description: official WineHQ build of the popular Wine software
 Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package includes debugging symbols useful for reporting crashes and
 other failures.

Package: {{ =compat_package }}
Architecture: i386 amd64 armhf
Depends: {{ =package }}, ${misc:Depends}
Section: otherosfs
Priority: optional
Replaces:   wine, wine1.4, wine1.5, wine1.6, wine1.7, wine-i386, wine1.4-i386,
            wine1.5-i386, wine1.6-i386, wine1.7-i386, wine-amd64, wine1.4-amd64,
            wine1.5-amd64, wine1.6-amd64, wine1.7-amd64, wine32, wine64
Conflicts:  wine, wine-i386, wine-amd64
Provides:   wine, wine1.4, wine1.5, wine1.6, wine1.7, wine-i386, wine1.4-i386,
            wine1.5-i386, wine1.6-i386, wine1.7-i386, wine-amd64 [amd64],
            wine1.4-amd64 [amd64], wine1.5-amd64 [amd64], wine1.6-amd64 [amd64],
            wine1.7-amd64 [amd64], wine32, wine64 [amd64]
Description: official WineHQ build of the popular Wine software
 Microsoft Windows Compatibility Layer (Binary Emulator and Library)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This compatibility package allows to use {{ =package }} system-wide as
 the default Wine version.

{{ if staging }}
Package: {{ =package }}-compat
Architecture: i386 amd64
Depends: {{ = compat_package }}, ${misc:Depends}
Priority: extra
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can safely be removed.
{{ endif }}
